@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oxygen+Mono&display=swap");

:root {
  --color-blue: #242f40;
  --color-gold: #cca43b;
  --color-gold-dk: #b99436;
  --color-gray: #e5e5e5;
  --color-white: #fff;
  --color-black: #363636;
}

html {
  font-size: 62.5%; /* Sets 1 rem equal to 10px */
}

/*
-----------------MEDIA QUERIES---------------

  @media only screen and (min-width: 0px) {
  }

  @media only screen and (min-width: 600px) {
  }

  @media only screen and (min-width: 800px) {
  }

  @media only screen and (min-width: 900px) {
  }

  @media only screen and (min-width: 1000px) {
  }

  @media only screen and (min-width: 1200px) {
  }
----------------------------------------------
 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alt-font {
  font-family: "Oxygen Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.8rem;
  color: var(--color-black);

  background-color: var(--color-gray);
}

.header {
  width: 100%;
  background-color: var(--color-gold);
}

.nav__container {
  display: flex;
  padding: 2.5rem 6rem;
  height: 10rem;
  transition: all 0.3s;
}

.nav__menu {
  display: inline-block;
  position: relative;
  width: 3rem;
  cursor: pointer;
}

.nav__menu--span {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 0.2rem;
  width: 3rem;
  background-color: var(--color-black);
}

.nav__menu--span::before {
  content: "";
  position: absolute;
  transform: translateY(-1rem);
  height: 0.2rem;
  width: 3rem;
  background-color: var(--color-black);
  transition: all 0.2s;
}

.nav__menu:hover .nav__menu--span::before {
  transform: translateY(-1.2rem);
}

.nav__menu:active .nav__menu--span::before {
  transform: translateY(-1rem);
}

.nav__menu--span::after {
  content: "";
  position: absolute;
  transform: translate(-0.5rem, 1rem);
  height: 0.2rem;
  width: 3rem;
  background-color: var(--color-black);
  transition: all 0.2s;
}

.nav__menu:hover .nav__menu--span::after {
  transform: translate(-0.5rem, 1.2rem);
}

.nav__menu:active .nav__menu--span::after {
  transform: translate(-0.5rem, 1rem);
}

.nav__left {
  display: flex;
}

.nav__right {
  background-color: var(--color-gold);
}

.nav__logo {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.nav__logo--link {
  color: inherit;
  text-decoration: none;
}

.nav-link {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    color: var(--color-white);
  }
}

.nav__item {
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.nav__item:first-of-type {
  display: none;
}

.nav__item--dropdown {
  position: relative;
}

.nav__user {
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__user--name {
  margin-right: 2rem;
}

.nav__user--icon {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;

  height: 5rem;
  width: 5rem;
}

.nav__user--img {
  width: 100%;
  height: 100%;
}

.dropdown {
  display: none;
  background-color: var(--color-gold);
  position: absolute;
  padding: 0 3rem 3rem 3rem;
  top: 100%;
  left: -35%;
  text-align: left;
  width: 20rem;

  transition: all 0.3s;
}

.dropdown-item {
  list-style-type: none;
  padding: 1rem 0;
}

.dropdown-item:not(:last-of-type) {
  border-bottom: 1px solid var(--color-gold-dk);
}

.dropdown-link {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

.dropdown-link:hover {
  color: var(--color-white);
}

.heading {
  font-family: "Oxygen Mono", monospace;
  font-weight: 400;
  font-style: normal;

  &-primary {
    font-size: 6rem;
  }

  &-secondary {
    font-size: 4rem;
  }

  &-tertiary {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 0px) {
  .nav__container {
    padding: 2.5rem 2rem;
  }

  .nav__right {
    display: none;
  }

  .dropdown {
    top: -0.8rem;
    left: 100%;
  }

  .nav__user {
    display: none;
  }

  .nav__menu {
    margin-left: auto;
  }
}

@media only screen and (min-width: 400px) {
  .nav__user {
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .nav__item:first-of-type {
    display: none;
  }

  .nav__menu {
    margin-left: 0;
  }
}

@media only screen and (min-width: 600px) {
  .nav__container {
    padding: 2.5rem 2rem;
  }
}

@media only screen and (min-width: 800px) {
  .nav__container {
    padding: 2.5rem 3rem;
  }
}

@media only screen and (min-width: 900px) {
}

@media only screen and (min-width: 1000px) {
  .nav__container {
    display: flex;
    position: static;
    top: none;
    left: none;
    width: auto;
    padding: auto;
  }

  .nav__right {
    display: flex;
    position: static;
    top: none;
    left: none;
    width: auto;
  }

  .nav__menu {
    display: none;
  }

  .dropdown {
    top: 100%;
    left: -35%;
  }
}

@media only screen and (min-width: 1200px) {
  .nav__container {
    padding: 2.5rem 6rem;
  }
}
